@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form-label {
    @apply mt-2 block text-sm font-bold text-text;
  }
  .form-field {
    @apply z-10 block h-10 w-full rounded border border-border bg-main pl-2 pr-2 text-sm text-text shadow-sm focus:border-primary-main focus:outline-none disabled:border-slate-200 disabled:bg-slate-50 disabled:text-slate-500 disabled:shadow-none;
  }
  .form-button {
    @apply h-10 w-full rounded border border-border bg-primary-main font-bold text-white hover:bg-primary-hover;
  }
  .form-errorMsg {
    @apply ml-2 text-xs font-medium text-error;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .example::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar::-webkit-scrollbar {
    @apply h-3 w-3;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-full bg-main;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-elev;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-hover;
  }
  .slider {
    @apply bg-main;
  }
  .slider::-webkit-slider-thumb {
    @apply aspect-square w-3 appearance-none rounded bg-secondary;
  }
  .slider::-moz-range-thumb {
    @apply aspect-square w-3 appearance-none rounded bg-secondary;
  }
  .slider::-webkit-slider-thumb:active {
    @apply bg-secondary/70;
  }
}
